--- --- @import "{{ site.theme }}";

.wrapper {
    margin: 0 auto;
    /* Adjust the margin as needed */
}

header {
    width: 270px;
    float: left;
    position: fixed;
    -webkit-font-smoothing: subpixel-antialiased;
    padding-right: 320px;
}

section {
    width: 500px;
    float: right;
    padding-bottom: 50px;
}
